<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DiscountProductNo" value="R1" />
		<add key="DiscountUnit" value="5" />
	</appSettings>
	<connectionStrings>
		<add name="vbConnection" connectionString="Data Source=EMIL-2022\SQLEXPRESS;Initial Catalog=F9999;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>